[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/saikatroy038
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/saikatroy038
	label-Verified = -1..+1 group user/saikatroy038
	push = group user/saikatroy038
	read = group user/saikatroy038
	rebase = group user/saikatroy038
	removeReviewer = group user/saikatroy038
	submit = group user/saikatroy038
[access "refs/heads/*"]
	create = group user/saikatroy038
	push = +force group user/saikatroy038
	pushMerge = group user/saikatroy038
	read = group user/saikatroy038
[access "refs/tags/*"]
	push = group user/saikatroy038
	push = +force group user/saikatroy038
